{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}
  <div class="card card-register mx-auto" style="max-width: 100%;">
    <div class="card-header"><b>{{ title }}</b></div>
    <div class="card-body">
      <form method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-row">
          <div class="form-group col-md-4">
            {{ form.razao_social.label_tag }}
            {{ form.razao_social }}
            {{ form.razao_social.errors }}
          </div>
          <div class="form-group col-md-4">
            {{ form.nome_fantasia.label_tag }}
            {{ form.nome_fantasia }}
            {{ form.nome_fantasia.errors }}
          </div>
          <div class="form-group col-md-2">
            {{ form.cnpj.label_tag }}
            {{ form.cnpj }}
            {{ form.cnpj.errors }}
          </div>
          <div class="form-group col-md-2">
            {{ form.inscricao_estadual.label_tag }}
            {{ form.inscricao_estadual }}
            {{ form.inscricao_estadual.errors }}
          </div>
          <div class="form-group col-md-1">
            {{ form.cep.label_tag }}
            {{ form.cep }}
            {{ form.cep.errors }}
          </div>
          <div class="form-group col-md-4">
            {{ form.endereco.label_tag }}
            {{ form.endereco }}
            {{ form.endereco.errors }}
          </div>
          <div class="form-group col-md-1">
            {{ form.numero.label_tag }}
            {{ form.numero }}
            {{ form.numero.errors }}
          </div>
          <div class="form-group col-md-2">
            {{ form.bairro.label_tag }}
            {{ form.bairro }}
            {{ form.bairro.errors }}
          </div>
          <div class="form-group col-md-3">
            {{ form.cidade.label_tag }}
            {{ form.cidade }}
            {{ form.cidade.errors }}
          </div>
          <div class="form-group col-md-1">
            {{ form.uf.label_tag }}
            {{ form.uf }}
            {{ form.uf.errors }}
          </div>
        </div>

        {{ formset.management_form }}

          <div class="card card-register mx-auto" style="max-width: 100%; margin-bottom: 1em;">
            <div class="card-header"><b>Contato(s)</b></div>
            <div class="card-body">
              <div class="form-row">
                {% for form in formset %}
                  {{ form.id }}
                  <div class="form-group" style="width: 45%; margin-right: 10px;">
                    {{ form.email.label_tag }}
  			            {{ form.email }}
  			            {{ form.email.errors }}
                  </div>
                  <div class="form-group" style="width: 45%; margin-right: 10px;">
  									{{ form.telefone.label_tag }}
  			            {{ form.telefone }}
  			            {{ form.telefone.errors }}
                  </div>
                  <div class="form-group" style="margin-top: 3%;">
                    {{ form.DELETE.label }}
                    {{ form.DELETE }}
                    <!-- <a style="border: none; margin-top: 2em;" class="form-control" href="#"
                      title="Excluir">
                      <i class="fa fa-trash-o fa-lg"></i>
                    </a> -->
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        <button type="submit" class="btn btn-success">Salvar</button>
        <a class="btn btn-secondary" href="{% url 'fornecedor:home' %}">Voltar</a>
      </form>
    </div>
  </div>
{% endblock %}
