{% extends "base.html" %}

{% block content %}
  <div class="card card-register mx-auto" style="max-width: 45%;">
    <div class="card-header">{{ title }}</div>
    <div class="card-body">
      <form method="POST">
        {% csrf_token %}
        <p style="padding-left: 2%;">
          {{ mensagem }} "{{ objeto }}"?
        </p>
        <div style="padding-left: 23%;">
          <button class="btn btn-danger" type="submit"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i> Tenho certeza!</button>
          <a class="btn btn-secondary" href="{% url 'produto:lista_categorias' %}">Voltar</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
