{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}
  <div class="card card-register mx-auto" style="max-width: 50%;">
    <div class="card-header">Registrar categoria</div>
    <div class="card-body">
      <form method="POST">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group">
          {{ form.nome.label_tag }}
          {% render_field form.nome class+="form-control" placeholder+="Insira o nome" %}
          {{ form.nome.errors }}
        </div>
        <div class="form-group">
          {{ form.descricao.label_tag }}
          {% render_field form.descricao class+="form-control" style+="resize: none" rows="5" placeholder+="Descreva a categoria" %}
          {{ form.nome.errors }}
        </div>
        <button type="submit" class="btn btn-success">Salvar</button>
        <a class="btn btn-secondary" href="{% url 'produto:lista_categorias' %}">Voltar</a>
      </form>
    </div>
  </div>
{% endblock %}
