{% extends "base.html" %}

{% block content %}
<div class="card mb-3">
  <div class="card-header" style="height: 65px;">
    <div class="form-row" style="height: 40px;">
      <div class="form-group col-md-11" style="padding-top: 6px;">
        <i class="fa fa-table fa-lg"></i> Produtos registrados
      </div>
      <div class="form-group col-md-1" style="padding-left: 30px;">
        <a class="btn btn-success" href="{% url 'produto:novo_produto' %}" title="Novo produto">
          <i class="fa fa-plus fa-lg" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
            <tr>
              <th>Nome</th>
              <th style="text-align: center; width: 13%;">Unidade de medida</th>
              <th style="text-align: center; width: 6%;">Múltiplo</th>
              <th style="text-align: center; width: 12%;">Preço Anterior(R$)</th>
              <th style="text-align: center; width: 8%;">Preço (R$)</th>
              <th style="text-align: center; width: 8%;">Lucro (%)</th>
              <th style="text-align: center; width: 8%;">Ações</th>
            </tr>
          </thead>
          <tbody>
            {% for produto in produtos %}
              <tr>
                <td>{{ produto.nome }}</td>
                <td style="text-align: center;">{{ produto.unidade_medida }}</td>
                <td style="text-align: center;">{{ produto.multiplo }}</td>
                <td style="text-align: center;">{{ produto.preco_anterior|default_if_none:"-" }}</td>
                <td style="text-align: center;">{{ produto.preco_venda }}</td>
                <td style="text-align: center;">{{ produto.lucro }}</td>
                <td>
                  <div class="container">
                    <div class="row">
                      <div class="col">
                        <a href="{% url 'produto:editar_produto' produto.id %}"
                          title="Editar">
                          <i class="fa fa-pencil fa-lg"></i>
                        </a>
                      </div>
                      <div class="col">
                        <a href="{% url 'produto:excluir_produto' produto.id %}"
                          title="Excluir">
                          <i class="fa fa-trash-o fa-lg"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer small text-muted">Atualizado em {{ atualizado_em }}</div>
  </div>
{% endblock %}
